body{
  font-family: 'Raleway', sans-serif;
}

.header{
  margin-top: 5rem; 
  margin-bottom: 5rem;
  text-align: center;
}

@media (min-width: 550px) {
  .header{
    text-align: left;
  }
}

.logo-phi{
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  color: red;
}

.logo-hi{
  color: red;
}

.logo-software{
  font-weight: normal;
  color: #888;
}

.tagline{
  padding-top: 3em;
  font-size: 25pt;
}

.mission{
  font-size: 15pt;
}

.product{
  margin-top: 50px;
}

@media (min-width: 1000px){
  .tagline{
    font-size: 28pt;
  } 

  .mission{
    font-size: 18pt;
  }
}

.footer{
  margin-top: 18rem;
}

.copyright{
  margin-top: 10rem;
  font-size: small;
  color: silver;
}

.services{
  font-size: 1.1em;
}

.content{
  font-size: 1.4em;
  padding: 1em;
  height: 400px;
  background-color: #333;
  margin-top: 10px;
  color: white;
}

.footer{
  border-top: 1px solid #eee;
  background-color: #f0f0f0;
  padding-top: 3em;
}
