* {
  box-sizing: border-box;
}

body {
  font-family: 'Voces';
  font-size: 1.4em;
}

h3 {
  font-weight: 600;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  position: fixed;
  background-color:white;
  z-index: 1;
  top: 0px;
  width:100%;
}

.logo {
  margin: 1em;
  float:left;
}

.nav-trigger {
      display: inline-block;
      cursor: pointer;
      float: right;
      margin: 20px;
  }

.bar1, .bar2, .bar3 {
      width: 33px;
      height: 3px;
      background-color: #333;
      border-radius:0.4em;
      margin: 6px 0px;
      transition: 0.4s;
  }

.change .bar1,.change .bar3 {opacity:0;
  }

.change .bar2 {opacity: 1;}

nav {
  display: none;
}

nav ul {
  list-style-type: none;
  text-align:center;
  padding: 50px;

}

nav li {
  padding: 20px;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #333;
}

.slideshow-container {
  max-width: 100%;
  margin-bottom:0px;
  height:400px;
}


.slide-right{
  position:relative;
  animation:animateright 0.5s;
}
@keyframes animateright{
  from{right:-300px;opacity:0.8;}
  to{right:0;opacity:1;}
}

img {
  width:100%;
  height:auto;
}
img.slidePic{
  object-fit:cover;
  z-index: -1;
  margin-top: 100px;
  height:300px;
  object-position:left;
}

.tagline{
  color: #2F2F2F;
  font-size: 1.6em;
  margin: 0px;
  position: absolute;
  text-align: center;
  display: block;
  margin: 120px 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

.dot {
  height: 10px;
  width: 10px;
  margin: 2px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  transition: ease;
  z-index: 1;
}

.dot:hover {
  background-color: black;
}
.active {
  background-color: black;
}
.main-info{
  text-align: center;
  background-color: #EAECEF;
  padding-top: 10px;
  font-family: 'Antic';
}
img.values1, img.values2{
  margin:0px 15%;
  width:60%;
}

.description{
  padding:5%;
  text-align:justify;
}

.product{
  width:100%;
  height:auto;
  display:flex;
}

.services-container{
  background-color:#EAECEF;
}

.services {
  display: grid;
  grid-row-gap: 25px;
  text-align: center;
  margin:0px;
}

.services i {
  font-size: 2.5em;
  color: #666;
}

.inquiry {
  padding: 2em;
  text-align: center;
  border-top: 1px solid #eee;
  background-color: #3D4552;
  color: white;
}
.button{
  display:block;
  border-radius: 0.4em;
  background-color: #00BF80;
  cursor: pointer;
  padding:10px;
  margin:10px 50px 20px 50px;

  color:white;
}
.button:hover{
  background-color: #078259;
}
.footer-container{
  border-top: 1px solid #eee;
  background-color: #EAECEF;
  padding-top: 3em;
  color:black;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer div {
  flex: 1;
  margin-bottom: 2em;
}

.footer a {
  text-decoration: none;
  color: #666;
}

.copyright{
  color: #878E9D;
  padding: 0.5em;
  font-size: 0.9em;
}

@media (min-width: 750px){
  .menu{
    display: inline-block;
    max-width: 100%;
  }
  .nav-trigger {
    display: none;
  }
  .logo{
    margin-left: 100px;
    margin-right: 250px;
  }
  nav {
    display: inline;
  }
  nav ul{
    padding: 0px;
    max-width: 100%;
  }
  nav li {
   float:left;
   margin-left: 30px;
   margin-right: 0px;
   padding:10px;
   font-size: 0.8em;
  }
  .tagline{
   font-size: 2em;
   text-align: left;
   margin: 150px 0% 10% 10%;
   width: 600px;
   padding:0.5%;
  }

  .main-info{
   padding:5% 25%;
   font-size: 1.6em;
  }

  .description {
    padding:0;
  }

  img.values1, img.values2 {
    width:30%;
    height: auto;
    float:left;
    margin: 30px;
    margin-bottom: 80px;
  }
  img.values2 {
    float:right;
  }

  .values{
   display:grid;
   grid-row-gap: 20px;
   padding: 50px;
  }

  .product {
   padding: 10px;
   margin: 10px;
   width:70%;
  }

  .services-container{
   padding:30px;
   height:500px;
   font-size: 0.8em;
  }

  .services{
   display: grid;
   grid-column-gap: 10px;
   grid-row-gap: 20px;
   grid-template-columns: 1fr 5fr 1fr 5fr;
   grid-template-rows: repeat(4, 1fr);
   max-width: 100%;
   margin-top: 20px;
   padding-bottom: 0px;
  }

  .inquiry{
   height: 250px;
   padding: 80px;
  }

  .button {
   margin:40px;
   margin-left: 44%;
   width:100px;
   align-items: center;
  }

  .footer{
   display: flex;
   flex-direction: row;
   font-size: 0.8em;
  }
}
