extends ../_skeleton

block variables
	- pageName = 'Forms'

block page
	include ../sections/_header-classic

	+breadcrumbs

	//Forms
	section.section.section-md.bg-default.text-center
		.container
			.row.justify-content-md-center
				.col-md-9.col-lg-7.col-xl-5
					h3 Login form
					.group-sm.group-custom
						a.btn.btn-facebook.btn-icon.btn-icon-left.btn-round(href='#')
							span.icon.fa.fa-facebook
							| Facebook
						a.btn.btn-twitter.btn-icon.btn-icon-left.btn-round(href='#')
							span.icon.fa.fa-twitter
							| Twitter
						a.btn.btn-google.btn-icon.btn-icon-left.btn-round(href='#')
							span.icon.fa.fa-google-plus
							| Google+
					.text-decoration-lines
						span.text-decoration-lines-content or

					//RD Mailform
					form.rd-form.rd-mailform.rd-form-centered
						.form-wrap
							input#login-email.form-input(type='email' name='email' data-constraints='@Email @Required')
							label.form-label(for='login-email') E-mail

						.form-wrap
							input#login-password.form-input(type='password' name='password' data-constraints='@Required')
							label.form-label(for='login-password') Password

						button.btn.btn-block.btn-primary(type='submit') Enter

	//Contact us
	section.section.section-md.bg-gradient.text-center
		.container
			.row.justify-content-md-center
				.col-md-9.col-lg-7.col-xl-5
					h3 Contact us
					//RD Mailform
					form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-20.row-narrow
							.col-md-6
								.form-wrap
									input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-name') Your Name

							.col-md-6
								.form-wrap
									input#contact-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-phone') Phone

							.col-12
								.form-wrap
									label.form-label(for='contact-message') Your Message
									textarea#contact-message.form-input(name='message' data-constraints='@Required')

							.col-md-6
								.form-wrap
									input#contact-email.form-input(type='email' name='email' data-constraints='@Email @Required')
									label.form-label(for='contact-email') E-mail

							.col-md-6
								button.btn.btn-block.btn-primary(type='submit') Send Message

	//Contact Us
	section.section.section-md.bg-default.text-center
		.container
			.row.justify-content-md-center
				.col-md-9.col-lg-7.col-xl-5
					h3 Contact Us (with reCAPTCHA)
					//RD Mailform
					form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-20.row-narrow
							.col-md-6
								.form-wrap
									input#contact-2-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-2-name') Your Name

							.col-md-6
								.form-wrap
									input#contact-2-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-2-phone') Phone

							.col-12
								.form-wrap
									label.form-label(for='contact-2-message') Your Message
									textarea#contact-2-message.form-input(name='message' data-constraints='@Required')

							.col-md-6
								.form-wrap
									input#contact-2-email.form-input(type='email' name='email' data-constraints='@Email @Required')
									label.form-label(for='contact-2-email') E-mail

							.col-md-6
								.form-wrap.form-validation-left
									//Google captcha
									.recaptcha#captcha1( data-sitekey='6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt', data-auto-size='' )

							.col-12
								button.btn.btn-block.btn-primary(type='submit') Send Message


	//Subscribe to Our Newsletter
	+parallax({
		img: 'parallax-01',
		innerClass: 'section-lg context-dark text-center'
	}).section
		.container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
			h3 Subscribe to Our Newsletter
			p.lead Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

			form.rd-form.rd-mailform.rd-form-inline(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
				.form-wrap
					input.form-input(id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required")
					label.form-label(for="subscribe-form-email") Your E-mail
				.form-button
					button.btn.btn-primary(type="submit") Subscribe

	section.section.section-md.bg-default.text-center
		.container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
			h3 MailChimp
			p.lead Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.

			//Mailchimp
			form.rd-form.mailchimp-mailform.rd-form-inline(data-form-output='form-output-global' action='https://templatemonster.us1.list-manage.com/subscribe/post?u=1e39a6d114a4cc130a4edbe43&id=9fc9ef194a' method='post')
				.form-wrap
					label.form-label(for='mailchimp-email') Enter your e-mail
					input#mailchimp-email.form-input(type='email' name='email' data-constraints='@Email @Required')
				.form-button
					button.btn.btn-primary(type='submit') Subscribe

	section.section.section-md.bg-gradient.text-center
		.container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
			h3 Campaign Monitor
			p.lead Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.

			//Campaign Monitor
			form.rd-form.campaign-mailform.rd-form-inline(data-form-output='form-output-global' action='https://templatermonster.createsend.com/t/j/s/zjjikd/' method='post')
				.form-wrap
					label.form-label(for='campaign-email') Enter your e-mail
					input#campaign-email.form-input(type='email' name='cm-zjjikd-zjjikd' data-constraints='@Email @Required')
				.form-button
					button.btn.btn-primary(type='submit') Subscribe

	include ../sections/_footer-classic
