extends ../_skeleton

include ../components/icon-box

block variables
	- pageName = 'Icons'

block page
	include ../sections/_header-classic

	+breadcrumbs

	// Font Awesome
	section.section.section-md.bg-default.text-center
		.container
			h4 Font Awesome
			p You can find a complete list of icons at #[a(href='//fontawesome.com/v4.7/icons/', target='_blank') fontawesome.com]
			.row
				- var iconsList = [ 'glass', 'music', 'search', 'envelope-o', 'heart', 'star', 'star-o', 'user', 'film', 'th-large', 'th', 'th-list', 'check', 'times', 'search-plus', 'search-minus' ];
				- for ( var i = 0; i < iconsList.length; i++ )
					.col-sm-6.col-md-4.col-lg-3
						+icon-box({
							class: 'fa-' + iconsList[i],
							name:  iconsList[i]
						})

	hr
	
	// Material Design Icons
	section.section.section-md.bg-default.text-center
		.container
			h4 Material Design Icons
			p You can find a complete list of icons at #[a(href='//cms.devoffice.com/repack/packs/mdi/', target='_blank') http://cms.devoffice.com/repack/packs/mdi/]
			.row
				- var iconsList = [ 'access-point','access-point-network','account','account-alert','account-box','account-box-outline','account-check','account-circle','account-convert','account-key','account-location','account-minus','account-multiple','account-multiple-outline', 'account-multiple-plus','account-network' ];
				- for ( var i = 0; i < iconsList.length; i++ )
					.col-sm-6.col-md-4.col-lg-3
						+icon-box({
							class: 'mdi mdi-' + iconsList[i],
							name:  iconsList[i]
						})
	
	include ../sections/_footer-classic
