extends ../_skeleton
include ../components/progress-linear
include ../components/progress-circle
include ../components/counter

block variables
	- pageName = 'Progress Bars'

block page
	include ../sections/_header-classic

	+breadcrumbs


	//Skill Bars
	section.section.section-md.bg-default
		.container
			.text-center
				h2 Progress Bars, Skill Bars, Counters
				p These elements are vital to design of every website, and with them you can improve the overall look of your resource and attract more clients.

			.row.justify-content-md-center.row-md-reverse.row-lg-justify.row-50
				.col-md-10.col-lg-6.col-xl-5
					h4 Welcome to Our Website
					p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.

				.col-md-10.col-lg-6
					+progress-linear({
						title: 'Knowledge',
						value: '75'
					})

					+progress-linear({
						title: 'Dedication',
						value: '85'
					})

					+progress-linear({
						title: 'Professionalism',
						value: '80'
					})


	//Counters
	section.section.section-md.bg-gradient.text-center
		.container
			.row.row-30
				.col-6.col-md-3
					+counter({
						title:   'CMS Installations',
						value:   16000
					})
				.col-6.col-md-3
					+counter({
						title:   'Awards Won',
						value:   20
					})
				.col-6.col-md-3
					+counter({
						title:   'Registered Domains',
						value:   20,
						postfix: 'k'
					})
				.col-6.col-md-3
					+counter({
						title:   'Satisfied Customers',
						value:   99,
						postfix: '%'
					})


	//Circle Progress Bars
	section.section.section-md.bg-default.text-center
		.container
			h3 Circle Progress Bars
			.row.row-30.justify-content-center
				.col-sm-5.col-lg-3
					+progress-circle({
						title:   'Leadership',
						value:   40
					})
				.col-sm-5.col-lg-3
					+progress-circle({
						title:   'Management',
						value:   50
					})
				.col-sm-5.col-lg-3
					+progress-circle({
						title:   'Innovation and creativity',
						value:   60
					})
				.col-sm-5.col-lg-3
					+progress-circle({
						title:   'Resilience',
						value:   170
					})
	hr


	include ../sections/_footer-classic
