extends ../_skeleton

block variables
	- pageName = 'Search Results'

block page 
	include ../sections/_header-classic

	+breadcrumbs

	//Search results
	section.section-md.bg-default
		.container
			.row.justify-content-center
				.col-lg-9
					//RD Search
					form.rd-form.rd-search.rd-form-inline(action='search-results.html' method='GET')
						.form-wrap
							label.form-label(for='rd-search-form-input') Enter your search request
							input.form-input(id='rd-search-form-input' type='text' name='s' autocomplete='off')
						.form-wrap.form-button
							button.btn.btn-primary(type='submit') Search

					.rd-search-results

	include ../sections/_footer-classic
