extends ../_skeleton

block variables
	- pageName = 'Typography'

block page 
	include ../sections/_header-classic

	+breadcrumbs

	//Base typography 
	section.section.section-lg.bg-default
		.container
			.row.row-50.flex-lg-row-reverse
				.col-xl-4
					ul.list-md
						li: h1 H1 Heading
						li: h2 H2 Heading
						li: h3 H3 Heading
						li: h4 H4 Heading
						li: h5 H5 Heading
						li: h6 H6 Heading

				.col-xl-8
					ul.list-xl
						li
							h1 H1 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h2 H2 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h3 H3 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h4 H4 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h5 H5 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						li
							h6 H6 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	//Blockquote
	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-lg-10.col-xl-8
					h3 Blockquote
					//Quote Primary
					article.quote-primary
						.quote-primary-body
							svg.quote-primary-mark(version='1.1' xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='21px', height='15px', viewbox='0 0 21 15', overflow='scroll', xml:space='preserve', preserveAspectRatio='none')
								path(d='M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316 c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37 C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316 c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37 C20.106,7.145,20.987,8.493,20.987,10.412z')
							.quote-primary-text: p.q Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						.quote-primary-footer
							p.h5.quote-primary-cite Dennis Williams

	//HTML Text Elements
	section.section.section-lg.bg-default
		.container
			.row
				.col-lg-10.col-xl-8
					h3 HTML Text Elements
					p.text-block
						span.fw-bold Bold text
						mark This is a highlighted text
						span.text-strike This is a strickethrough text
						span.text-underline This is an underlined text.
						span Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for
						a(href='#') Link
						a(href='#').link-hover Hover link
						a(href='#').link-active Press link
						span With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						span.tooltip-custom(data-bs-toggle='tooltip' data-bs-placement="top" title="Tooltips") Tooltips

	//Unordered List
	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-xl-8
					h3 Unordered List
					p We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.
					ul.list-marked
						li Consulting
						li Customer Service
						li Innovation
						li Management
						li Ethics
					p We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.

	//Ordered List
	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-xl-8
					h3 Ordered List
					p We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.
					ol.list-ordered
						li Consulting
						li Customer Service
						li Innovation
						li Management
						li Ethics
					p We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.

	//Icon List
	section.section.section-lg.bg-default
		.container
			h3 Icon List
			.row.row-30
				.cell-xs-10.col-md-6.col-lg-4
					article.box-minimal
						.box-minimal-icon.fa.fa-thumbs-up
						h4.box-minimal-title Best Service
						.box-minimal-text
							p Our mission is to attract and retain customers by providing Best in Class solutions and fostering a profitable, disciplined culture of safety, service, and trust.

				.cell-xs-10.col-md-6.col-lg-4
					article.box-minimal
						.box-minimal-icon.fa.fa-group
						h4.box-minimal-title Reputation
						.box-minimal-text
							p We have established a strong presence in the industry. Our award-winning services earn a reputation for quality and excellence that few can rival.

				.cell-xs-10.col-md-6.col-lg-4
					article.box-minimal
						.box-minimal-icon.fa.fa-lock
						h4.box-minimal-title Safety & Security
						.box-minimal-text
							p Safety for our employees, customers and the community we work with will always remain our primary focus in all the policies, procedures and programs.

	//Image Centered
	section.section.section-lg.bg-default
		.container
			.row
				.col-lg-10.col-xl-8
					h3 Image Centered
					figure.figure-light
						+img( 'typography-01-770x480' ).img-centered
						figcaption
							p Carolyn Lewis

					p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	//Image Left
	section.section.section-lg.bg-default
		.container: .row: .col-lg-10.col-xl-8
			h3 Image Left
			.row.row-30
				.col-md-6: +img( 'typography-02-370x230' )
				.col-md-6: p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	//Image Right
	section.section.section-xl.bg-default
		.container: .row: .col-lg-10.col-xl-8
			h3 Image Right
			.row.row-30.flex-md-row-reverse
				.col-md-6: +img( 'typography-02-370x230' )
				.col-md-6: p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	include ../sections/_footer-classic
