//- Team member
	@param {object}  obj           - team member object
	@param {boolean} obj.img       - team member image
	@param {string}  obj.name      - team member name
	@param {string}  obj.position  - team member position
mixin team-member(obj)
	article.team-classic&attributes(attributes)
		+img(obj.img).team-classic-figure
		.team-classic-info
			h5.team-classic-name= obj.name
			.team-classic-bottom
				span.team-classic-position=obj.position
				a.icon.icon-xl.icon-primary.mdi.mdi-linkedin-box(href="#")