/** @section Backgrounds */

.context-dark {
	@extend %context-dark;
}

%context-dark {
	// Logo
	.brand {
		.brand-logo-dark {
			display: none;
		}

		.brand-logo-light {
			display: block;
		}
	}
}

%context-light {
	// Logo
	.brand {
		.brand-logo-dark {
			display: block;
		}

		.brand-logo-light {
			display: none;
		}
	}
}


// Light Backgrounds
.bg-default {
	@include bg-behaviour($body-bg);
}

.bg-gray-100 {
	@include bg-behaviour($gray-100);
}


// Dark Backgrounds
.bg-gray-700 {
	@extend %context-dark;
	@include bg-behaviour($gray-700);
}


// Accent Backgrounds
.bg-primary {
	@extend %context-dark;
	@include bg-behaviour($primary);
}

.bg-gradient-02 {
	background-image: $gradient-02;
}

.bg-gradient-03 {
	background-image: $gradient-03;
}




// Desktop only
html:not(.tablet):not(.mobile) {
	.bg-fixed {
		@include media-breakpoint-up(lg) {
			background-attachment: fixed;
		}
	}
}
// Background Image
.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@include media-breakpoint-down(xl) {
	.bg-image-01 {
		background-position: 80% 50%;
	}
	.bg-image-02 {
		background-position: 20% 50%;
	}
}


