/** @section Footers */

// Footer Classic
.footer-classic {
	font-size: 18px;
	line-height: 1.5;
	p {
		line-height: 1.5;
	}
	.link-phone {
		* + & {
			margin-top: 25px;
		}
	}
}

.footer-title{
	& + * {
		margin-top: 20px;
	}
}
.footer-classic .brand{
	& + * {
		margin-top: 5px;
	}
}
.footer-list {
	margin-top: 28px;
	li + li {
		margin-left: 28px;
	}
}


.footer-mail {
	margin-top: 15px;
}


@include media-breakpoint-up(md) {
.footer-classic .link-phone {
		* + & {
			margin-top: 35px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.footer-title{
		& + * {
			margin-top: 45px;
		}
	}
	.footer-classic .brand {
		& + * {
			margin-top: 30px;
		}
	}

	.footer-list {
		margin-top: 35px;
	}
}