/** @section Links */

// Standard link style
a {
	transition: $transition-base;

	&,
	&:focus,
	&:active,
	&:hover {
		text-decoration: $link-decoration;
	}

	@include link($link-color, $link-hover-color);

	&[href*='tel'],
	&[href*='mailto'] {
		white-space: nowrap;
	}
}

.link-text {
	color: $body-color;
}

.link-hover {
	color: $link-hover-color;
}

.link-press {
	color: $link-press-color;
}

.link-gray {
	@include link($gray-400, $primary-light);
}

.link-primary-underline {
	display:inline-block;
	color: $primary;
	&::after {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		background-color: $primary;
		transition: inherit;
	}
	&:hover {
		color: $primary-lighter;
		&::after {
			background-color: $primary-lighter;
		}
	}
}

.link-phone {
	font-size: $h5-font-size;
	line-height: $h5-line-height;
	color: $primary-dark;
	font-weight: 500;
	display: block;
}