/** @section Lists */

// Vertical list
.list {
	> li + li {
		margin-top: 12px;
	}
}

.list-xs > li + li {
	margin-top: 0;
}

.list-sm > li + li {
	margin-top: 10px;
}

.list-md > li + li {
	margin-top: 18px;
}

.list-lg > li + li {
	margin-top: 25px;
}

.list-xl > li + li {
	margin-top: 30px;
}

@include media-breakpoint-up(md) {
	.list-xl > li + li {
		margin-top: 60px;
	}
}


// List inline
.list-inline {
	> li {
		display: inline-block;
	}
}

html {
	.list-inline-md {
		@include spacing(20px, 8px);

		@include media-breakpoint-up(lg) {
			@include spacingX(30px);
		}
	}
}


// List terms
.list-terms {
	* + & {
		margin-top: 25px;
	}

	& + * {
		margin-top: 25px;
	}

	dt + dd {
		margin-top: 5px;
	}

	dd + dt {
		margin-top: 25px;
	}
}


// Index list
.index-list {
	counter-reset: li;

	> li {
		.list-index-counter {
			&:before {
				content: counter(li, decimal-leading-zero);
				counter-increment: li;
			}
		}
	}
}


// Marked list
.list-marked {
	text-align: left;
	margin-left: 20px;
	> li {
		position: relative;
		padding-left: 25px;

		&::before {
			content: '';
			position: absolute;
			display: inline-block;
			left: 0;
			top: 50%;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			transform: translateY(-50%);
			background-color: $primary;
		}
	}

	> li + li {
		margin-top: 4px;
	}
	@include media-breakpoint-up(md) {
		margin-left: 55px;
	}
}

* + .list-marked {
	margin-top: 20px;
	@include media-breakpoint-up(md) {
		margin-top: 30px;
	}
}


// Ordered List
.list-ordered {
	counter-reset: li;
	text-align: left;

	> li {
		position: relative;
		padding-left: 25px;

		&:before {
			position: absolute;
			content: counter(li, decimal) '.';
			counter-increment: li;
			top: 0;
			left: 0;
			display: inline-block;
			width: 15px;
			color: $gray-400;
		}
	}

	> li + li {
		margin-top: 10px;
	}
}

* + .list-ordered {
	margin-top: 15px;
}

// List rating
.list-rating {
	margin-top: 20px;
	font-size: 0;
	> li {
		display: inline-block;
	}
	& + * {
		margin-top: 12px;
	}
}

@include media-breakpoint-up(md) {
	.list-rating {
		margin-top: 30px;
	}
}

