/** @section Posts */


// Post Creative
.post-creative {
	> img {
		width: 100%;
	}

	> * + img { margin-top: 25px; }
	> img + * { margin-top: 25px; }
	* + h4, * + .h4 { margin-top: 15px; }
}

.post-creative-title {
	text-transform: uppercase;
}

.post-creative-meta {
	@include spacing(30px, 5px);

	> li,
	> li > * {
		display: inline-block;
		vertical-align: middle;
	}

	> li {
		> * + * { margin-left: 5px; }
	}

	a {
		color: inherit;

		&:hover {
			color: $primary;
		}
	}

	.icon {
		font-size: 1.5em;
		color: $primary;
	}
}

.post-creative-footer {
	@include spacing(30px, 10px);

	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

* + .post-creative-meta { margin-top: 15px; }
* + .post-creative-footer { margin-top: 25px; }

@include media-breakpoint-up(md) {
	.post-creative-title {
		max-width: 80%;
	}
}

@include media-breakpoint-up(lg) {
	* + .post-creative-meta { margin-top: 25px; }
	.post-creative + [class*='section'] { margin-top: 30px; }
}

@include media-breakpoint-up(xl) {
	.post-creative {
		h4,
		.heading-4 {
			font-size: 22px;
			line-height: 1.46;
		}

		> * + img { margin-top: 30px; }
		> img + * { margin-top: 40px; }
		* + h4, * + .heading-4 { margin-top: 32px; }

		> .quote-light + img { margin-top: 50px; }
	}

	* + .post-creative-meta { margin-top: 30px; }
	* + .post-creative-footer { margin-top: 40px; }
}

@include media-breakpoint-up(xxl) {
	.post-creative + [class*='section'] { margin-top: 55px; }
} 

// Post Modern
.post-modern {
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: 0;
		left: 0;
		background-color: $gray-100;
		z-index: -1;
	}
	&:last-child {
		border-bottom: 1px solid $gray-100;
	}
}

.post-modern-mask {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transform: scale(1.05);
	opacity: 0;
	transition: .5s all ease-in-out;
	will-change: transform;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0, .6);
	}
	& + * {
		margin-top: 0;
	}
}

.post-modern-inner {
	padding: 60px 0;
	transition: .5s all ease-in-out;
}

.post-modern-category {
	color: $gray-400;
	> * {
		display: inline-block;
	}
	li + li {
		margin-left: 10px;
	}
	& + * {
		margin-top: 20px;
	}
}

.post-modern-meta {
	font-size: 16px;
	color: $gray-400;
	* + & {
		margin-top: 20px;
	}
}

.post-modern-aside {
	* + & {
		margin-top: 30px;
	}
}

.post-modern-title {
	text-transform: uppercase;
}

.post-modern-list {
	li + li {
		margin-left: 15px;
	}
}

.post-modern-comments {
	* + & {
		margin-top: 10px;
	}
}

.desktop .post-modern:hover {
	.post-modern-mask {
		opacity: 1;
		transform: scale(1);
	}
	.post-modern-inner {
		@extend %context-dark;
	}
	.post-modern-title a,
	.post-modern-category a{
		@include link($white, $primary-light);
	}
}

@include media-breakpoint-up(md) {
	.post-modern-inner {
		display: flex;
		justify-content: space-between;
	}

	.post-modern-category,
	.post-modern-aside {
		width: 15%;
		min-width: 90px;
		flex-shrink: 0;
	}

	.post-modern-category {
		margin-right: 30px;
		font-size: 18px;
		> * {
			display: block;
		}
		li + li {
			margin-left: 0;
		}
		& + * {
			margin-top: 0;
		}
	}

	.post-modern-main { flex-grow: 1; }

	.post-modern-meta {
		display: flex;
		justify-content: space-between;
		* + & {
			margin-top: 40px;
		}
	}

	.post-modern-comments {
		* + & {
			margin-top: 0;
		}
	}

	.post-modern-aside {
		margin-left: 30px;
		text-align: right;
		* + & {
			margin-top: 0;
		}
	}
}






