/** @section Profiles */

.profile {
	position: relative;
	display: block;
	padding: 30px 20px 45px;
	background: $white;
	border-radius: $border-radius;
	text-align: center;
	box-shadow: $box-shadow;


	* + p { margin-top: 20px; }
	* + .group { margin-top: 15px; }
	* + .button-sm { margin-top: 15px; }

	.group {
		margin-left: auto;
		margin-right: auto;
	}
}

.profile-aside {
	position: relative;
	display: inline-block;
}

.profile-image {
	border-radius: 50%;
}

.profile-social {
	* + & {
		margin-top: 15px;
	}
	li + li {
		margin-left: 10px;
	}
}

.profile-contact-button {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 1;
	background: $primary;

	&,
	&:active,
	&:focus,
	&:hover {
		color: $white;
	}

	.icon {
		font-size: inherit;
	}

	.icon:first-child,
	.icon:last-child {
		vertical-align: middle;
		transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1);
	}

	.icon:first-child {
		display: block;
	}

	.icon:last-child {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}

	&:hover {
		color: $white;
		background: $primary-dark;

		.icon:first-child {
			opacity: 0;
			transform: translate3d(0, -30%, 0);
		}

		.icon:last-child {
			opacity: 1;
			transform: translate3d(0, 0, 0) translateY(-50%);
		}
	}
}

.profile-title {
	font-size: 22px;
	line-height: 1.47;
}

* + p.profile-subtitle { margin-top: 0; }
* + .profile-main { margin-top: 20px; }

@include media-breakpoint-between(sm, md) {
	.profile {
		display: flex;
		align-items: flex-start;
		text-align: left;

		.group {
			margin-left: -15px;
		}

		> * + * { margin-left: 30px; }
	}

	.profile-aside {
		flex-shrink: 0;
		max-width: 30%;
	}

	.profile-main {
		flex-grow: 1;
	}

	* + .profile-main { margin-top: 0; }
}

@include media-breakpoint-up(lg) {
	.profile {

	}
}

@include media-breakpoint-up(xl) {
	.profile {
		padding: 55px 35px;

		* + .group { margin-top: 25px; }
		* + .button-sm { margin-top: 25px; }
	}
}
