/** @section Team */

.team-classic {
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}

.team-classic-figure{
	border-radius: $border-radius;
	& + * {
		margin-top: 30px;
	}
}

.team-classic-name {
	text-transform: uppercase;
}

.team-classic-bottom {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	* + & {
		margin-top: 0;
	}
}

@include media-breakpoint-up(md) {
	.team-classic-figure {
		& + * {
			margin-top: 50px;
		}
	}
	.team-classic-bottom {
		* + & {
			margin-top: 8px;
		}
	}
}