/** @section Offsets */

// Elements
p {
	* + & {
		margin-top: 15px;
	}
}


// Headings
h1,
.h1 {
	* + &{
		margin-top: 20px;

		@include media-breakpoint-up(xl) {
			margin-top: 30px;
		}
	}
	& + * {
		margin-top: 30px;
		@include media-breakpoint-up(xl) {
			margin-top: 40px;
		}
	}
}

h2,
.h2 {
	* + & {
		margin-top: 10px;
	}

	p + & {
		margin-top: 12px;
	}

	& + p {
		margin-top: 20px;
	}

	& + h5,
	& + .h5 {
		margin-top: 35px;
	}
	@include media-breakpoint-up(md) {
		* + & {
			margin-top: 20px;
		}
		& + p {
			margin-top: 40px;
		}

		& + h5,
		& + .h5 {
			margin-top: 50px;
		}
	}

}

h3,
.h3 {}

h4,
.h4 {}

h5,
.h5 {
	* + &, & + * {
		margin-top: 20px;
	}
	@include media-breakpoint-up(md) {
		* + &, & + * {
			margin-top: 35px;
		}
	}
}

h6,
.h6 {}


// Classes
.btn,.btn-link-creative {
	* + & {
		margin-top: 30px;
	}
}


// Grid
.container {
	* + & {
		margin-top: 30px;
	}
	.box-img + & {
		margin-top: 0;
	}
}

.row {
	* + & {
		margin-top: 30px;
	}
	[class*='decor'] + & {
		margin-top: 0;
	}
}

.row + .row-xl {
	margin-top: 40px;
}


@include media-breakpoint-up(md) {
	.btn {
		* + & {
			margin-top: 40px;
		}
	}
	.btn-link-creative {
		* + & {
			margin-top: 50px;
		}
	}
	.row + .row-lg {
		margin-top: 60px;
	}
	.row + .row-xl {
		margin-top: 70px;
	}
}

@include media-breakpoint-up(xl) {
	.row + .row-xl {
		margin-top: 90px;
	}
}
