section.section.section-xl.bg-default
	.container
		.row.row-40.row-xl-80
			.col-md-10.col-xl-6.col-xxl-5
				h6.header-decor Our Clients
				h2 Trusted by thousands of leading businesses
			.col-12: .row.row-20.row-md-30.row-xl-70
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-01-160x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-02-145x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-03-182x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-04-150x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-05-134x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-06-146x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-07-169x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-08-138x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-09-160x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-10-180x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-11-173x65.svg')
				.col-6.col-md-4.col-xl-3
					a.box-client(href='#'): +img('client-12-134x65.svg')
="\n"