section.section.section-md.bg-image(style="background-image: url(images/bg-02.jpg);")
	.container
		.box-banner
			h6 500 loyal clients
			h2 Over a decade of stellar software solutions
			a.btn.btn-lg.btn-light.btn-icon.btn-icon-right(href='about-us.html')
				span.icon.mdi.mdi-trending-neutral
				| Talk to us
="\n"