section.section.section-xl.bg-gradient
	.container
		.row
			.col-12
				h6.header-decor faq
				h2 How can we help you?
				#tabs-1.tabs-custom.tabs-horizontal.tabs-corporate
					//Nav tabs
					ul.nav.nav-tabs
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-1' data-bs-toggle='tab') General FAQ
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-2' data-bs-toggle='tab') Payments FAQ
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-3' data-bs-toggle='tab') Online sellers FAQ

					//Tab panes
					.tab-content
						div#tabs-1-1.tab-pane.fade
							#accordion1.card-group-custom.card-group-corporate( role='tablist' aria-multiselectable='false' )
								+card({
									show: true,
									parentId: 'accordion1',
									title: 'How can Proactive help my organization?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion1',
									title: 'If Proactive can recommend many IT solutions, how do I know which is best for my organization?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs. When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion1',
									title: 'What does Proactive do?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion1',
									title: 'Why should I use Proactive for IT consulting instead of my own in-house IT staff?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.
						div#tabs-1-2.tab-pane.fade
							#accordion2.card-group-custom.card-group-corporate( role='tablist' aria-multiselectable='false' )
								+card({
									show: true,
									parentId: 'accordion2',
									title: 'How can Proactive help my organization?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion2',
									title: 'If Proactive can recommend many IT solutions, how do I know which is best for my organization?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs. When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion2',
									title: 'What does Proactive do?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion2',
									title: 'Why should I use Proactive for IT consulting instead of my own in-house IT staff?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.
						div#tabs-1-3.tab-pane.fade
							#accordion3.card-group-custom.card-group-corporate( role='tablist' aria-multiselectable='false' )
								+card({
									show: true,
									parentId: 'accordion3',
									title: 'How can Proactive help my organization?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion3',
									title: 'If Proactive can recommend many IT solutions, how do I know which is best for my organization?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs. When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion3',
									title: 'What does Proactive do?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.

								+card({
									parentId: 'accordion3',
									title: 'Why should I use Proactive for IT consulting instead of my own in-house IT staff?'
								}).card-corporate
									p At times, the Proactive Team may come to you with more than one solution for your IT needs.  When this is the case, we will help educate you on the pros and cons of each solution and help you make an informed decision that will give you the best solution for your long-term needs.
="\n"