footer.section.section-xl.footer-classic.bg-default
	.container
		.row.row-40
			.col-sm-6.col-xl-2
				h6.footer-title Company
				ul.list
					li: a(href='about-us.html') About
					li: a(href='#') How it works
					li: a(href='#') Customers
					li: a(href='#') Careers
			.col-sm-6.col-xl-2
				h6.footer-title Help
				ul.list
					li: a(href='contacts.html') Contact us
					li: a(href='#') FAQ
					li: a(href='privacy-policy.html') Legal & Privacy
			.col-md-6.col-xl-3
				h6.footer-title Services
				ul.list
					li: a(href='single-service.html') Emergency support
					li: a(href='single-service.html') Remote office support
					li: a(href='single-service.html') Network administration
					li: a(href='single-service.html') Office systems
					li: a(href='single-service.html') Cloud configuration
			.col-md-6.col-xl-3.offset-xl-1
				+logo
				address 178 West 27th Street, Suite 527 New York NY 10012
				a.link-phone(href="tel:#") +1 000 10 87 000
				a.footer-mail.link-primary-underline(href='mailto:#') youremail@gmail.com
				ul.list-inline.footer-list
					li: a.icon.icon-primary-lighter.icon-lg.mdi.mdi-rss(href='#')
					li: a.icon.icon-primary-lighter.icon-lg.mdi.mdi-twitter(href='#')
					li: a.icon.icon-primary-lighter.icon-lg.mdi.mdi-facebook(href='#')
					li: a.icon.icon-primary-lighter.icon-lg.mdi.mdi-linkedin-box(href='#')
		+rights
