section.section.section-xl.bg-default
	.container
		.owl-carousel.owl-theme(
			data-items='1',
			data-mouse-drag='false',
			data-owl= {
				animateIn: 'fadeIn',
				animateOut: 'fadeOut',
				nav: true
			}
		)
			blockquote.quote-modern
				.quote-modern-main: q Their business advisors had an impressive ability to delve deep into our market and domain. By taking the time to understand our business, they have been able to provide great solutions...
				.quote-footer
					+img('testimonial-02-60x60').quote-minimal-avatar
					.quote-cite
						cite Alex Buoyega
						.quote-position CEO of StrategyTech
			blockquote.quote-modern
				.quote-modern-main: q I needed a strategy for my company and these guys made the whole job wthithing two weeks! I'm really impressed by the friendly team and knowledgeable tech support. The service really impresses.
				.quote-footer
					+img('testimonial-01-60x60').quote-minimal-avatar
					.quote-cite
						cite Adam Smith
						.quote-position CEO of StrategyTech
="\n"