-
	var
		htmlClass = "wide wow-animation",
		fonts = "https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&display=swap",
		logo = {
			default: 'logo-default-165x33.svg',
			inverse: 'logo-inverse-165x33.svg',
			name: 'StrategyTech'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		menu = [
			{
				title: 'Home',
				link: 'index.html'
			},
			{
				title: 'About us',
				link: 'about-us.html'
			},
			{
				title: 'Services',
				dropdown: [
					{
						title: 'Single Service',
						link: 'single-service.html'
					}
				]
			},
			{
			title: 'Blog',
				dropdown: [
					{
						title: 'Blog post',
						link: links.post
					}
				]
			},
			{
				title: 'Pages',
				link: null,
				megamenu: [
					{
						title: 'Elements',
						link: null,
						list: [
							{ title: 'Typography' },
							{ title: 'Buttons' },
							{ title: 'Forms' },
							{ title: 'Tabs and accordions' },
							{ title: 'Progress bars' },
							{ title: 'Tables' },
							{ title: 'Icons' }
						]
					},
					{
						title: 'Pages',
						link: null,
						list: [
							{ title: 'Grid system' },
							{ title: 'Privacy policy' },
							{title: 'Coming soon'},
							{title: 'Search results'}
						]
					},
				]
			},
			{
				title: 'Contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
